html{
    background-color: azure;
}
h1{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    align-items: center;
}
.button{
    background-color: wheat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    align-items: center;
    margin-right: 20 px;
}
.botones{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.botones2{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.divider1{
    width: 40px;
    height: auto;
    display: inline-block;
}

.divider2{
    width: 50px;
    height: auto;
    display: inline-block;
}
.superdiv{
    display: block;
    padding: 0%;
}

.tablero{
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border: 1px;
    border-style: dashed;
    border-color: brown;
    box-sizing: border-box;
}
.wrapper{
    display: none;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.datos{
    font-family: Arial, Helvetica, sans-serif;
    width: 250px;
}
.objetos{
    width: 200px;
    height: 100px;
    padding: 10px;
    display: list-item;
    list-style-type: none;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
}

.infodata{
    font-family: Arial, Helvetica, sans-serif;
}
.valores{
    background-color: #ffffff;
    width: 30px;
    opacity: 0.4;
}
